#character-orb {
    position: relative;
    border-radius: 50%;
    background: none;
    box-shadow: none;
    transition: transform 0.2s ease;
    filter: none;
}

.orb-aura {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;

    /* Gradiente radial base */
    background: radial-gradient(circle at 50%,
            rgb(0, 170, 255),
            rgb(0, 170, 255) 30%,
            rgb(0, 170, 255) 60%,
            rgba(0, 170, 255, .9) 80%);

    /* Filtro para el resplandor */
    filter: blur(20px);

    /* Valor inicial del box-shadow (puede ser ajustado) */
    box-shadow: 0 0 10px 5px rgba(0, 170, 255, 0.5);

    /*  Animaci贸n combinada: pulso de escalado y brillo */
    animation:
        pulse-scale 1.5s infinite ease-in-out alternate,
        pulse-shadow 1.5s infinite ease-in-out alternate;
}


.eye {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.1s ease;
    filter: none;
}

#eye-left {
    left: 50%;
}

#eye-right {
    right: 50%;
}

#character-orb.laugh .eye {
    height: 8px;
    top: 50%;
}

@keyframes pop-in {
    from {
        opacity: 1;
        transform: scale(0.5);
    }

    to {
        opacity: 2;
        transform: scale(3);
    }
}

@media (prefers-reduced-motion: reduce) {
    #character-orb {
        animation: none;
    }

    #character-orb.laugh .eye {
        transition: none;
    }

    .orb-aura {
        animation: none;
    }
}

@keyframes pulse-scale {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        /* Un poco m谩s grande para el efecto de expansi贸n */
        transform: scale(1.05);
        opacity: 1.2;
        /* Opacidad al final del pulso */
    }
}

/* Keyframes para la animaci贸n de box-shadow (ligeramente modificados) */
@keyframes pulse-shadow {
    from {
        /* Brillo sutil */
        box-shadow: 0 0 10px 5px rgba(0, 170, 255);
    }

    to {
        /* Brillo m谩s intenso y amplio */
        box-shadow: 0 0 30px 15px rgba(0, 170, 255);
        /* Aument茅 el brillo y la extensi贸n */
    }
}